{% extends 'base.html' %}
{% load custom_tags %}
{% load thumbnail %}
{% block content %}
    <section id="courses-section" class="popular-courses-area bg-white s-pd2">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">My Courses</h2>
                        <ul class="list-unstyled popular-filter-nav text-center">
                            <li><a class="filter" href="#" data-filter="*">All</a></li>
                            <li><a href="#" class="filter" data-filter=".approved">Approved</a></li>
                            <li><a href="#" class="filter" data-filter=".pending">Pending</a></li>
                            <li><a href="#" class="filter" data-filter=".rejected">Rejected</a></li>
                            <br>
                            <li><a class="filter" href="#" data-filter=".English">English</a></li>
                            <li><a href="#" class="filter" data-filter=".Mathematics">Mathematics</a></li>
                            <li><a href="#" class="filter" data-filter=".Science">Science</a></li>
                        </ul><!--/.popular-filter-nav-->
                        <a href="{% url 'teachers:course_add' %}" class="btn btn-primary mb-3" role="button">Add a Course</a>
                    </div><!--/.section-heading-area-->
                </div><!--/.col-lg-8-->
            </div><!--/.row-->
            {% if not courses %}
                <center>You currently do not own any courses.</center>
            {% endif %}
            <div class="row courses-item-content">
                {% for course in courses %}
                    <div class="col-lg-4 col-sm-6 {{ course.status }} {{ course.subject }}">
                        <!--Single Course Item Start-->
                        <div class="single-course-item border-radius">
                            <div class="course-thumb-area">
                                <div style="width: 350px; height: 200px; overflow: hidden">
                                    <img class="img-fluid"  src="{{ course.image.url }}" alt="img">
                                </div>
                                <span class="course-duration"><b>{{ course.taken_count }}</b>
                                    {% if course.taken_count > 1 %}
                                        students
                                    {% else %}
                                        student
                                    {% endif %}
                                    enrolled</span>
                            </div><!--/.course-thumb-area-->
                            <div class="course-content">
                                <h2><a href="{% url 'course_details' course.pk %}">{{ course.title }}</a></h2>
                                {{ course.subject.get_html_badge }}
                                ({{ course.code }})
                                <p style="white-space: nowrap; width: 300px; overflow: hidden; text-overflow: ellipsis">{{ course.description }}</p>

                                <div class="course-reviews">
                                    <div class="star-ratings-css" style="float:left;">
                                        <div class="star-ratings-css-top" style="width: {{ course.ratings.get.average|get_star_percentage|floatformat:"-2" }}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div>
                                    <br>
                                    <b>{{ course.ratings.get.average|floatformat:"-2" }}</b>/5
                                    ({{ course.ratings.get.count }}
                                    {% if course.ratings.get.count == 1 %}
                                        review)
                                    {% else %}
                                        reviews)
                                    {% endif %}
                                </div><!--/.course-reviews-->
                                <hr>
                                <div class="trainer-profile clearfix">
                                    <div class="trainer-info">
                                        {% if course.status == 'pending' %}
                                            <h3 style="color: #F3D250">{{ course.status.upper }}</h3>
                                        {% elif course.status == 'approved' %}
                                            <h3 style="color: #5DA2D5">{{ course.status.upper }}</h3>
                                        {% elif course.status == 'rejected' %}
                                            <h3 style="color: #F78888">{{ course.status.upper }}</h3>
                                        {% endif %}
                                        <p>Date Created: {{ course.created_at|date:"F d, Y" }}</p>
                                    </div>
                                    <div class="course-cat text-capitalize text-right">
                                        <a href="{% url 'teachers:course_change' course.pk %}" style="background-color: #F78888; color: white;"><b>Edit</b></a>
                                    </div>
                                </div><!--/.trainer-profile-->
                            </div><!--/.course-content-->
                        </div><!--/.single-course-item-end-->

                    </div><!--/.col-lg-4-->
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
