{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <section id="courses-section" class="popular-courses-area bg-white s-pd2">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">My Courses</h2>
                        <a href="{% url 'teachers:course_add' %}" class="btn btn-primary mb-3" role="button">Add a Course</a>
                    </div><!--/.section-heading-area-->
                </div><!--/.col-lg-8-->
            </div><!--/.row-->

            <div class="row courses-item-content">
                {% for course in courses %}
                    <div class="col-lg-4 col-sm-6 design photography">
                        <!--Single Course Item Start-->
                        <div class="single-course-item border-radius">
                            <div class="course-thumb-area">
                                <div style="width: 350px; height: 200px; overflow: hidden">
                                    <img class="img-fluid"  src="{{ course.image.url }}" alt="img">
                                </div>
                                <div class="course-meta">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                    <a href="#"><i class="fa fa-share-alt"></i></a>
                                </div>
                                <span class="course-duration"><b>{{ course.taken_count }}</b>
                                    {% if course.taken_count > 1 %}
                                        students
                                    {% else %}
                                        student
                                    {% endif %}
                                    enrolled</span>
                            </div><!--/.course-thumb-area-->
                            <div class="course-content">
                                <h2><a href="{% url 'course_details' course.pk %}">{{ course.title }}</a></h2>
                                <p style="white-space: nowrap; width: 300px; overflow: hidden; text-overflow: ellipsis">{{ course.description }}</p>
                                <small>{{ course.subject.get_html_badge }}</small>
                                <div class="course-reviews">
                                    {{ course.ratings.get.average|floatformat:"-2" }}/5
                                    ({{ course.ratings.get.count }} casted)
                                </div><!--/.course-reviews-->

                                <div class="trainer-profile clearfix">
                                    {% thumbnail course.owner.teacher.image "100x100" crop="center" as im %}
                                        <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="course-owner">
                                    {% endthumbnail %}
                                    <div class="trainer-info">
                                        <h3>{{ course.status.upper }}</h3>
                                        <p>{{ course.created_at|date:"F d, Y" }}</p>
                                    </div>
                                    <div class="course-cat text-capitalize text-right">
                                        <a href="{% url 'teachers:course_change' course.pk %}">Edit</a>
                                    </div>
                                </div><!--/.trainer-profile-->
                            </div><!--/.course-content-->
                        </div><!--/.single-course-item-end-->

                    </div><!--/.col-lg-4-->
                {% empty %}
                    no subjects
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
