{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'teachers:course_change_list' %}">My Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
                        </ol>
                    </nav><br>
                    <div class="login-form-area">
                        <h2>Edit a Course</h2>
                        <form method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success">Save changes</button>
                            <a href="{% url 'teachers:lesson_add' %}" class="btn btn-secondary" role="button">Add a Lesson</a>
                            <a href="{% url 'teachers:course_change_list' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
                            <a href="#" class="btn btn-danger float-right delete">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".delete").click(function () {
            swal({
                title: "Are you sure you want to delete this course?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location = "{% url 'teachers:course_delete' course.pk %}";
                }
            });
        });
    </script>
{% endblock %}

