{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <section id="courses-section" class="popular-courses-area bg-white s-pd2">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">Student Enrollment Requests</h2>
                    </div><!--/.section-heading-area-->
                </div><!--/.col-lg-8-->
            </div><!--/.row-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <strong>Student</strong>
                        </div>
                        <div class="col-4">
                            <strong>Course</strong>
                        </div>
                        <div class="col-2">
                            <strong>Course Code</strong>
                        </div>
                        <div class="col-3">
                            <strong>Action</strong>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush list-group-formset">
                    {% for taken_course in taken_courses %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-3">
                                    {% thumbnail taken_course.student.image "40x40" crop="center" as im %}
                                        <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="course-owner">&nbsp;&nbsp;
                                    {% endthumbnail %}
                                    {{ taken_course.student.user.first_name }} {{ taken_course.student.user.last_name }}
                                </div>
                                <div class="col-4">
                                    <a href="{% url 'course_details' taken_course.course.pk %}">{{ taken_course.course.title }}</a>
                                </div>
                                <div class="col-2">
                                    {{ taken_course.course.code }}
                                </div>
                                <div class="col-3">
                                    <a href="{% url 'teachers:enrollment_accept' taken_course.pk %}" role="button" class="btn btn-primary">Accept Request</a>
                                    <a href="{% url 'teachers:enrollment_reject' taken_course.pk %}" role="button" class="btn btn-primary">Reject</a>
                                </div>

                            </div>
                        </div>
                    {% empty %}
                        <div class="list-group-item text-center">
                            <p class="text-muted font-italic mb-0">There are no enrollment requests right now.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}