{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'teachers:course_change_list' %}">My Courses</a></li>
{#            <li class="breadcrumb-item"><a href="{% url 'teachers:course_change' course.pk %}">{{ course.title }}</a></li>#}
            <li class="breadcrumb-item active" aria-current="page">Confirm deletion</li>
        </ol>
    </nav>
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    <div class="login-form-area">
                        <h2 class="mb-3">Confirm deletion</h2>
                        <p class="lead">Are you sure you want to delete the course <strong>"{{ lesson.title }}"</strong>? There is no going back.</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg">Yes, I'm sure</button>
                            <a href="{% url 'teachers:course_change' course.pk %}" class="btn btn-outline-secondary btn-lg" role="button">Nevermind</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
