{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_list' %}">My Quizzes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add a New Quiz</li>
                        </ol>
                    </nav><br>
                    <div class="login-form-area">
                        <h2 class="mb-3">Add a quiz</h2>
                        <form method="post" id="quizForm" data-lessons-url="{% url 'teachers:ajax_load_lessons' %}" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <center>
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="{% url 'teachers:quiz_list' %}" class="btn btn-danger" role="button">Cancel</a>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#id_course").change(function () {
            var url = $("#quizForm").attr("data-lessons-url");  // get the url of the `load_lessons` view
            var course_id = $(this).val();  // get the selected course ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-lessons/)
                data: {
                    'course': course_id       // add the course id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_lessons` view function
                    $("#id_lesson").html(data);  // replace the contents of the lesson input with the data that came from the server
                }
            });

        });
    </script>
{% endblock %}
