{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_list' %}">My Quizzes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ quiz.title }}</li>
                        </ol>
                    </nav><br>
                    <div class="login-form-area">
                        <h2 class="mb-3">{{ quiz.title }}</h2>
                        <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="btn btn-primary float-right">View results</a>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            {# The course field will be ignored in the backend since it is not included in LessonEditForm class #}
                            <label for="course" class="col-form-label  requiredField">
                                Course<span class="asteriskField"></span>
                            </label>
                            <input type="text" class="textinput textInput form-control" value="{{ quiz.course.title }}" id="course" disabled>
                            <label for="lesson" class="col-form-label  requiredField">
                                Lesson<span class="asteriskField"></span>
                            </label>
                            <input type="text" class="textinput textInput form-control" value="{{ quiz.lesson.title }}" id="lesson" disabled>
                            <br>
                            <button type="submit" class="btn btn-success">Save changes</button>
                            <a href="{% url 'teachers:quiz_list' %}" class="btn btn-outline-secondary" role="button">Go Back</a>
                            <a href="#" class="btn btn-danger float-right delete">Delete</a>
                        </form>
                    </div>
                    <br><br>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-10">
                                    <strong>Questions</strong>
                                </div>
                                <div class="col-2">
                                    <strong>Choices</strong>
                                </div>
                            </div>
                        </div>
                        <div class="list-group list-group-flush list-group-formset">
                            {% for question in questions %}
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-10">
                                            <a href="{% url 'teachers:question_change' course.pk quiz.pk question.pk %}">{{ question.text }}</a>
                                        </div>
                                        <div class="col-2">
                                            {{ question.answers_count }}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="list-group-item text-center">
                                    <p class="text-muted font-italic mb-0">You haven't created any questions yet. Go ahead and <a href="{% url 'teachers:question_add' course.pk quiz.pk %}">add the first question</a>.</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'teachers:question_add' course.pk quiz.pk %}" class="btn btn-primary btn-sm">Add question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-page page-wrapper s-pd100">
        <div class="container">

        </div>
    </div>

    <script>
        $(".delete").click(function () {
            swal({
                title: "WARNING: Are you sure you want to delete this quiz?",
                text: "Once you delete this, you will never recover it.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.location = "{% url 'teachers:quiz_delete' quiz.pk %}";
                    }
                });
        });
    </script>
{% endblock %}
