{% extends 'staff_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">My Account</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'staff:dashboard' %}" class="breadcrumb-link">Admin</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br>
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <!-- ============================================================== -->
            <!-- validation form -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">{{ user.first_name }} {{ user.last_name }}</h5>
                    <div class="card-body">
                        <form method="POST" novalidate>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        {{ u_form|crispy }}
                                        {{ p_form|crispy }}
                                    </fieldset>
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                    <a href="{% url 'staff:change_password' %}" class="btn btn-warning" role="button">Change Password</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}