{% extends 'staff_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">My Account</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'staff:dashboard' %}" class="breadcrumb-link">Admin</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'staff:account' %}" class="breadcrumb-link">My Account</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                    <h2>Change your Password</h2>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'staff:account' %}" class="btn btn-warning" role="button">Go Back</a>
                    </form>
                </div><!--/.login-form-area-->
            </div><!--/.col-lg-4-->
        </div><!--/.row-->
    </div><!--/.container-->
{% endblock %}
