{% extends "star_ratings/widget_base.html" %}
{% load i18n %}
{% block rating_detail %}
    {% block rating_average %}
        {% block rating_count %}
            <div class="star-ratings-rating-average">{% trans 'Rating: ' %}<span class='star-ratings-rating-value'><b>{{ rating.average|floatformat:"-2" }}</b>/5 ({{ rating.count }} reviews)</span></div>
            {% endblock rating_count %}
    {% endblock rating_average %}

    {% block rating_user %}
        <div class="star-ratings-rating-user">{% trans 'You Rated: ' %} <span class='star-ratings-rating-value'>{% if user_rating %}<b>{{ user_rating.score }}</b>{% else %}{% trans 'None' %}{% endif %}</span></div>
    {% if not user.is_authenticated and not anonymous_ratings and not read_only %}
        <i>Please <a href="{% url 'login' %}"><u>log in</u></a> to rate.</i>
    {% endif %}
    {% endblock rating_user %}

{% endblock %}