{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--=======Page Heading
    =================================-->
    <section class="page-heading-section before-bg bg-image" style="background-image: url({% static 'images/header/p-header2.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize">Register</h2>
                    </div><!--/.page-heading-->
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->

    <div class="register-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    <h2>{{ result }}</h2>
                    <br>
                    <div class="alert alert-{{ alert }}">{{ message }}</div>
                </div><!--/.col-lg-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.login-page-->
{% endblock %}
