{% extends 'base.html' %}
{% block content %}
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="login-form-area">
                    <h2>Reset your Password</h2>
                    <br>
                    <div class="alert alert-success">
                        Your new password has been set.
                    </div>
                    <div class="login-form-register-now">
                        <a href="{% url 'login' %}">LOGIN HERE</a>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.login-page-->
{% endblock content %}