{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!--=======Page Heading
    =================================-->
    <section class="page-heading-section before-bg bg-image" style="background-image: url({% static 'images/header/p-header3.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize">Register</h2>
                    </div><!--/.page-heading-->
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->


    <div class="register-page page-wrapper s-pd100" style="background-image:url({% static 'images/reg.jpg' %}) ;background-repeat: no-repeat; ;
            background-position: center;background-size:cover; ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <div class="login-form-area register-form-area">
                        <form method="post" novalidate>
                            <h2>{{ user_type }}</h2>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {{ form|crispy }}
                            <p><button class="btn btn-default btn-primary" type="submit">Sign up new account</button></p>
                            <div class="login-form-register-now">
                                <p> Have an account? <a href="{% url 'login' %}">LOGIN NOW</a></p>
                            </div>
                        </form>
                    </div><!--/.register-form-area-->
                </div><!--/.col-lg-4-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.login-page-->
{% endblock %}