{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--====Home Search Section
    ====================================-->
    <div id="home-search-section" class="home-search-section-area bg-image home-header-one" style="background-image: url({% static 'images/welcome-bg3.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-text text-center tb">
                        <div class="tb-cell">
                            <h1>Strengthen your foundation</h1>
                            <p>Learn the basics now! Start by searching a topic.</p>
                            <form class="product-search-form" action="#" method="get">
                                <div class="form-group">
                                    <input class="form-controllar" name="search" placeholder="Search here" type="text">
                                    <button class="btn btn-default btn-primary" type="submit">search</button>
                                 </div>
                            </form><!--/.product-search-form-->
                        </div><!--/.tb-cell-->
                    </div><!--/.welcome-text-->
                </div><!--/.col-lg-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/#home-search-section-->

    <!--====Services Section
    ====================================-->
    <section id="services-section" class="services-section-area s-pd1">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-lg-8">
				    <div class="section-heading-area text-center">
					    <h2 class="section-heading text-capitalize">This is what we offer you</h2>
                        <p>DigiWiz offers basic education intended for the young</p>
				    </div><!--/.section-heading-area-->
				</div><!--/.col-lg-8-->
			</div><!--/.row-->
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="single-service text-center">
                        <div class="icon">
				            <img src="{% static 'images/icon/s-icon4.png' %}" alt="icon">
				        </div>
						<h3>Free for all</h3>
						<p>Anyone can access DigiWiz for free. </p>
					</div><!--/.single-service-->
				</div><!--/.col-lg-4-->
				<div class="col-lg-4 col-md-4">
					<div class="single-service text-center">
                        <div class="icon">
				            <img src="{% static 'images/icon/s-icon2.png' %}" alt="icon">
				        </div><!--/.row-->
						<h3>Learn Anywhere, Anytime</h3>
						<p>Access DigiWiz anywhere and anytime.</p>
					</div><!--/.single-service-->
				</div><!--/.col-lg-4-->
				<div class="col-lg-4 col-md-4">
					<div class="single-service text-center">
                        <div class="icon">
				            <img src="{% static 'images/icon/s-icon3.png' %}" alt="icon">
				        </div><!--/.row-->
						<h3>Unlimited Access</h3>
						<p>A lot of courses, quizzes, or activities to choose from. </p>
					</div><!--/.single-service-->
				</div><!--/.col-lg-4-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section><!--/#services-section-->

    <!--====Courses Section
    ====================================-->
    <section id="courses-section" class="popular-courses-area bg-gray s-pd2">
		<div class="container">
		    <div class="row justify-content-md-center">
				<div class="col-lg-8">
				    <div class="section-heading-area text-center">
					    <h2 class="section-heading text-capitalize">Popular Courses</h2>
				    </div><!--/.section-heading-area-->
				</div><!--/.col-lg-8-->
			</div><!--/.row-->
			<div class="row">
                <div class="col-lg-12">
					<ul class="list-unstyled popular-filter-nav text-center">
						<li><a class="filter" href="#" data-filter="*">All</a></li>
						<li><a class="filter" href="#" data-filter=".design">Design</a></li>
						<li><a href="#" class="filter" data-filter=".development">Development</a></li>
						<li><a href="#" class="filter" data-filter=".business">Business</a></li>
						<li><a href="#" class="filter" data-filter=".photography">Photography</a></li>
					</ul><!--/.popular-filter-nav-->
				</div><!--/.col-lg-12-->
            </div><!--/.row-->
			<div class="row courses-item-content">
                <div class="col-lg-4 col-sm-6 design photography">
                    <!--Single Course Item Start-->
                    <div class="single-course-item border-radius">
                        <div class="course-thumb-area">
                            <img class="img-fluid" src="images/courses/course1.jpg" alt="img">
                            <div class="course-meta">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div>
                            <span class="course-duration">2.2 hours</span>
                        </div><!--/.course-thumb-area-->
                        <div class="course-content">
                            <h2><a href="single-course.html">Object-Oriented Python</a></h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            <div class="course-reviews">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span class="total-reviews">(105 reviews)</span>
                            </div><!--/.course-reviews-->
                            <div class="trainer-profile clearfix">
                                <img class="rounded-circle" src="images/author/author-1.jpg" alt="img">
                                <div class="trainer-info">
                                    <h3>Kelium Smith</h3>
                                    <p>24 april 2017</p>
                                </div>
                                <div class="course-cat text-capitalize text-right"><a href="#">Development</a></div>
                            </div><!--/.trainer-profile-->
                        </div><!--/.course-content-->
                    </div><!--/.single-course-item-end-->
                </div><!--/.col-lg-4-->

                <div class="col-lg-4 col-sm-6 business">
                    <!--Single Course Item Start-->
                    <div class="single-course-item border-radius">
                        <div class="course-thumb-area">
                            <img class="img-fluid" src="images/courses/course2.jpg" alt="img">
                            <div class="course-meta">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div>
                            <span class="course-duration">2.2 hours</span>
                        </div><!--/.course-thumb-area-->
                        <div class="course-content">
                            <h2><a href="single-course.html">Isometric Mockup Design</a></h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            <div class="course-reviews">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span class="total-reviews">(105 reviews)</span>
                            </div><!--/.course-reviews-->
                             <div class="trainer-profile clearfix">
                                <img class="rounded-circle" src="images/author/author-1.jpg" alt="img">
                                <div class="trainer-info">
                                    <h3>Kelium Smith</h3>
                                    <p>24 april 2017</p>
                                </div>
                                <div class="course-cat text-capitalize text-right"><a href="#">Design</a></div>
                            </div><!--/.trainer-profile-->
                        </div><!--/.course-content-->
                    </div><!--/.single-course-item-end-->
                </div><!--/.col-lg-4-->
                <div class="col-lg-4 col-sm-6 design photography">
                    <!--Single Course Item Start-->
                    <div class="single-course-item border-radius">
                        <div class="course-thumb-area">
                            <img class="img-fluid" src="images/courses/course3.jpg" alt="img">
                            <div class="course-meta">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div>
                            <span class="course-duration">2.2 hours</span>
                        </div><!--/.course-thumb-area-->
                        <div class="course-content">
                            <h2><a href="single-course.html">HTML5 Essential Training</a></h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            <div class="course-reviews">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span class="total-reviews">(105 reviews)</span>
                            </div><!--/.course-reviews-->
                             <div class="trainer-profile clearfix">
                                <img class="rounded-circle" src="images/author/author-1.jpg" alt="img">
                                <div class="trainer-info">
                                    <h3>Kelium Smith</h3>
                                    <p>24 april 2017</p>
                                </div>
                                <div class="course-cat text-capitalize text-right"><a href="#">Development</a></div>
                            </div><!--/.trainer-profile-->
                        </div><!--/.course-content-->
                    </div><!--/.single-course-item-end-->
                </div><!--/.col-lg-4-->
                <div class="col-lg-4 col-sm-6 development business">
                    <!--Single Course Item Start-->
                    <div class="single-course-item border-radius">
                        <div class="course-thumb-area">
                            <img class="img-fluid" src="images/courses/course4.jpg" alt="img">
                            <div class="course-meta">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div>
                            <span class="course-duration">2.2 hours</span>
                        </div><!--/.course-thumb-area-->
                        <div class="course-content">
                            <h2><a href="single-course.html">Photo Manipulation</a></h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            <div class="course-reviews">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span class="total-reviews">(105 reviews)</span>
                            </div><!--/.course-reviews-->
                            <div class="trainer-profile clearfix">
                                <img class="rounded-circle" src="images/author/author-1.jpg" alt="img">
                                <div class="trainer-info">
                                    <h3>Kelium Smith</h3>
                                    <p>24 april 2017</p>
                                </div>
                                <div class="course-cat text-capitalize text-right"><a href="#">Design</a></div>
                            </div><!--/.trainer-profile-->
                        </div><!--/.course-content-->
                    </div><!--/.single-course-item-end-->
                </div><!--/.col-lg-4-->

                <div class="col-lg-4 col-sm-6 design">
                    <!--Single Course Item Start-->
                    <div class="single-course-item border-radius">
                        <div class="course-thumb-area">
                            <img class="img-fluid" src="images/courses/course5.jpg" alt="img">
                            <div class="course-meta">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div>
                            <span class="course-duration">2.2 hours</span>
                        </div><!--/.course-thumb-area-->
                        <div class="course-content">
                            <h2><a href="single-course.html">PHP Essential Training</a></h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            <div class="course-reviews">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span class="total-reviews">(105 reviews)</span>
                            </div><!--/.course-reviews-->
                            <div class="trainer-profile clearfix">
                                <img class="rounded-circle" src="images/author/author-1.jpg" alt="img">
                                <div class="trainer-info">
                                    <h3>Kelium Smith</h3>
                                    <p>24 april 2017</p>
                                </div>
                                <div class="course-cat text-capitalize text-right"><a href="#">Development</a></div>
                            </div><!--/.trainer-profile-->
                        </div><!--/.course-content-->
                    </div><!--/.single-course-item-end-->
                </div><!--/.col-lg-4-->
                <div class="col-lg-4 col-sm-6 development photography">
                    <!--Single Course Item Start-->
                    <div class="single-course-item border-radius">
                        <div class="course-thumb-area">
                            <img class="img-fluid" src="images/courses/course6.jpg" alt="img">
                            <div class="course-meta">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div>
                            <span class="course-duration">2.2 hours</span>
                        </div><!--/.course-thumb-area-->
                        <div class="course-content">
                            <h2><a href="single-course.html">Illustration For Beginner</a></h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            <div class="course-reviews">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span class="total-reviews">(105 reviews)</span>
                            </div><!--/.course-reviews-->
                            <div class="trainer-profile clearfix">
                                <img class="rounded-circle" src="images/author/author-1.jpg" alt="img">
                                <div class="trainer-info">
                                    <h3>Kelium Smith</h3>
                                    <p>24 april 2017</p>
                                </div>
                                <div class="course-cat text-capitalize text-right"><a href="#">Design</a></div>
                            </div><!--/.trainer-profile-->
                        </div><!--/.course-content-->
                    </div><!--/.single-course-item-end-->
                </div><!--/.col-lg-4-->
  			</div><!--/.row-->
  			<div class="row">
  			    <div class="col-lg-12">
                    <div class="group-btn text-center">
                        <a href="#" class="btn btn-default btn-primary">Start Your Free Trail</a>
                        <a href="#" class="btn btn-default">Explore More Courses</a>
                    </div><!--/.form-group-btn-->
                </div><!--/.col-lg-12-->
  			</div><!--/.row-->
		</div><!--/.container-->
	</section><!--/#courses-section-->
{% endblock %}
