@import "lesshat";

// Method 1) Pure CSS
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

// Method 2) Using a Sprite
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;

  &-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }

}

// Stuff for Pen styling
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
body { margin: 50px; text-align: center; font-family: 'Open Sans', sans-serif; background: #f2fbff; }
em { font-style: italic; }
h1 { font-size: 24px; margin-bottom: 25px; font-weight: bold; text-transform: uppercase; }
h2 { font-size: 16px; margin-bottom: 15px;}