{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/fonts/circular-std/style.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'staff/assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <link rel="icon" href="{% static 'images/DW.png' %}">

    <title>{% if title %}
        DigiWiz: {{ title }}
    {% else %}
            DigiWiz
    {% endif %}</title>

    <script src="{% static 'js/jquery-3.4.1.js' %}" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/digiwiz.png' %}" alt="logo" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <br>
                            <span id="time"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'staff/assets/images/default-user_thumb.png' %}" alt="default-user" class="user-avatar-md rounded-circle">&nbsp;
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info" style="background-color:#f78888">
                                    <h5 class="mb-0 text-white nav-user-name">{{ user.first_name }} {{ user.last_name }}</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="{% url 'staff:account' %}"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark" >
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link {% if sidebar == 'dashboard' %}active{% endif %}" href="{% url 'staff:dashboard' %}">
                                    <i class="fas fa-chart-line"></i>Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if sidebar == 'course_requests' %}active{% endif %}" href="{% url 'staff:course_requests' %}">
                                    <i class="fas fa-bell"></i>Course Requests
                                    {% if course_request_count > 0 %}
                                        <sup>
                                            <span style="background-color: red; color: white; padding: 2px; border-radius: 3px;">
                                                &nbsp;<b>{{ course_request_count }}</b>&nbsp;
                                            </span>
                                        </sup>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if sidebar == 'course_list' %}active{% endif %}" href="{% url 'staff:course_list' %}">
                                    <i class="fas fa-fw fa-book"></i>Courses
                                </a>
                            </li>
                            {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link {% if sidebar == 'subject_list' %}active{% endif %}" href="{% url 'staff:subject_list' %}">
                                        <i class="fas fa-puzzle-piece"></i>Subjects
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li class="nav-item ">
                                    <a class="nav-link {% if sidebar == 'admin_list' %}active{% endif %}" href="{% url 'staff:admin_list' %}">
                                        <i class="fas fa-database"></i>Admin Accounts
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% if sidebar == 'teacher_list' %}active{% endif %}" href="{% url 'staff:teacher_list' %}">
                                    <i class="fab fa-black-tie"></i>Teachers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if sidebar == 'student_list' %}active{% endif %}" href="{% url 'staff:student_list' %}">
                                    <i class="fas fa-child"></i>Students
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if sidebar == 'user_log' %}active{% endif %}" href="{% url 'staff:user_log_list' %}">
                                    <i class="fas fa-address-book"></i>User Log
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                {% block content %}
                {% endblock %}
            </div>
            {% block footer %}
            {% endblock %}
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <script>
        var today = new Date();
        document.getElementById('time').innerHTML=today;
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'staff/assets/vendor/jquery/jquery-3.3.1.min.js' %}" type="44c04729fd72133bc12c335c-text/javascript"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'staff/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}" type="44c04729fd72133bc12c335c-text/javascript"></script>
    <!-- slimscroll js -->
    <script src="{% static 'staff/assets/vendor/slimscroll/jquery.slimscroll.js' %}" type="44c04729fd72133bc12c335c-text/javascript"></script>
    <!-- main js -->
    <script src="{% static 'staff/assets/libs/js/main-js.js' %}" type="44c04729fd72133bc12c335c-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="44c04729fd72133bc12c335c-|49" defer=""></script>
</body>

</html>