{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'teachers:course_change_list' %}">My Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update my interests</li>
                        </ol>
                    </nav><br>
                    <div class="login-form-area">
                        <h2 class="mb-3">Update your interests</h2><br>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}<br>
                            <center>
                                <button type="submit" class="btn btn-success">Save changes</button>
                                <a href="{% url 'students:mycourses_list' %}" class="btn btn-danger" role="button">Cancel</a>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
