{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for lesson in lessons %}
        <!--=======Page Heading
        ================================-->
        <section class="page-heading-section before-bg bg-image" style="background-image: url({% static 'images/header/p-header4.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="page-heading">
                            <h2 class="page-name text-capitalize">{{ lesson.course.title }}</h2>
                            {% if user.is_student %}
                                <a href="{% url 'course_details' lesson.course.pk %}" class="btn btn-default btn-primary">go back</a>
                            {% elif user.is_teacher %}
                                <a href="javascript:history.back();" class="btn btn-default btn-primary">go back</a>
                            {% endif %}
                        </div><!--/.page-heading-->
                    </div><!--/.col-md-12-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.page-heading-area-->

        <div class="courses-page page-wrapper">
            <!--=======Lesson Page Content
            ==================================-->
            <div class="courses-page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="course-details">
                                <div class="course-title">
                                    <h2>Lesson {{ lesson.number }}: {{ lesson.title }}</h2>
                                    {% if user.is_teacher %}
                                        <a href="{% url 'teachers:lesson_edit' lesson.course.pk  lesson.pk %}" class="btn btn-primary mb-3" role="button" target="_blank">Edit Lesson</a>
                                    {% endif %}
                                </div>
                                <div class="course-desc">
                                    <p>{{ lesson.content|safe }}</p>
                                    <br>
                                </div>
                            </div>
                        </div>

                    </div><!--/.row-->
                </div><!--/.container-->
            </div><!--/.courses-page-content-->
        </div><!--/.courses-page-->
    {% empty %} No Lessons Available
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <nav class="courses-navigation default-pager text-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a href="?page=1" title="First Lesson">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a href="?page={{ page_obj.previous_page_number }}" title="Previous Lesson">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{ num }}" title="Lesson {{ num }}" style="background-color: #f78888; color: #fff">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ num }}" title="Lesson {{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" title="Next Lesson">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" title="Last Lesson">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </nav>
        </div>
    </div>
    <br>
{% endblock %}