{% extends 'base.html' %}
{% load ratings %}
{% load thumbnail %}
{% load static %}
{% block content %}
    <section id="courses-section" class="popular-courses-area s-pd2">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <br>
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">My Courses</h2>
                        <p class="text-muted">
                            Subjects:{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}
                            <a href="{% url 'students:student_interests' %}"><small>(update interests)</small></a>
                        </p>
                        <br>
                        <ul class="list-unstyled popular-filter-nav text-center">
                            <li><a class="filter" href="#" data-filter="*">All</a></li>
                            <li><a href="#" class="filter" data-filter=".enrolled">Enrolled</a></li>
                            <li><a href="#" class="filter" data-filter=".finished">Finished</a></li>
                            <li><a href="#" class="filter" data-filter=".pending">Pending</a></li>
                            <br>
                            <li><a class="filter" href="#" data-filter=".English">English</a></li>
                            <li><a href="#" class="filter" data-filter=".Mathematics">Mathematics</a></li>
                            <li><a href="#" class="filter" data-filter=".Science">Science</a></li>
                        </ul><!--/.popular-filter-nav-->
                    </div><!--/.section-heading-area-->
                </div><!--/.col-lg-8-->
            </div><!--/.row-->
            {% if not taken_courses %}
                <center>You are not yet enrolled in any course.</center>
            {% endif %}
            <div class="row courses-item-content">
                {% for taken_course in taken_courses %}
                    <div class="col-lg-4 col-sm-6 {{ taken_course.status }} {{ taken_course.course.subject }}">
                        <!--Single Course Item Start-->
                        <div class="single-course-item border-radius">
                            <div class="course-thumb-area">
                                <div style="width: 350px; height: 200px; overflow: hidden">
                                    <img class="img-fluid" src="{{ taken_course.course.image.url }}" alt="img">
                                </div>
                            </div><!--/.course-thumb-area-->
                            <div class="course-content">
                                <h2><a href="{% url 'course_details' taken_course.course.pk %}">{{ taken_course.course.title }}</a></h2>
                                {{ taken_course.course.subject.get_html_badge }}
                                ({{ taken_course.course.code }})
                                <p style="white-space: nowrap; width: 300px; overflow: hidden; text-overflow: ellipsis">{{ taken_course.course.description }}</p>

                                <div class="course-reviews">

                                        {% ratings taken_course.course %}
                                </div><!--/.course-reviews-->
                                <hr>
                                <div class="trainer-profile clearfix">
                                    {% thumbnail taken_course.course.owner.teacher.image "100x100" crop="center" as im %}
                                        <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="course-owner">
                                    {% endthumbnail %}
                                    <div class="trainer-info">
                                        <h3>{{ taken_course.course.owner.first_name }} {{ taken_course.course.owner.last_name }}</h3>
                                        <p>{{ taken_course.course.created_at|date:"F d, Y" }}</p>
                                    </div>
                                    <div class="course-cat text-capitalize text-right">
                                        {% if taken_course.status == 'finished' %}
                                            <a style="background-color: #5DA2D5; color: white;"><b>{{ taken_course.status }}</b></a>
                                        {% elif taken_course.status == 'pending' %}
                                            <a style="background-color: #F3D250; color: white;"><b>{{ taken_course.status }}</b></a>
                                        {% elif taken_course.status == 'enrolled' %}
                                            <a style="background-color: #F78888; color: white;"><b>{{ taken_course.status }}</b></a>
                                        {% endif %}
                                    </div>
                                </div><!--/.trainer-profile-->
                            </div><!--/.course-content-->
                        </div><!--/.single-course-item-end-->
                    </div><!--/.col-lg-4-->
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
