{% extends 'base.html' %}
{% load ratings %}
{% block content %}
    {# include 'classroom/students/_header.html' with active='new' #}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <section id="courses-section" class="popular-courses-area bg-white s-pd2">
		<div class="container">
            <div class="row justify-content-md-center">
				<div class="col-lg-8">
				    <div class="section-heading-area text-center">
					    <h2 class="section-heading text-capitalize">My Courses</h2>
				    </div><!--/.section-heading-area-->
				</div><!--/.col-lg-8-->
			</div><!--/.row-->

            <div class="row courses-item-content">
                {% for taken_course in taken_courses %}
                <div class="col-lg-4 col-sm-6 design photography">
                    <!--Single Course Item Start-->
                    <div class="single-course-item border-radius">
                        <div class="course-thumb-area">
                            <img class="img-fluid" src="{{ taken_course.course.image.url }}" alt="img">
                            <div class="course-meta">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div>
                        </div><!--/.course-thumb-area-->
                        <div class="course-content">
                            <h2><a href="{% url 'course_details' taken_course.course.pk %}">{{ taken_course.course.title }}</a></h2>
                            <p>{{ taken_course.course.description }}</p>
                            <small>{{ taken_course.course.subject.get_html_badge }}</small>
                            <div class="course-reviews">
                                {% ratings taken_course.course %}
                            </div><!--/.course-reviews-->
                            <br>
                            <div class="trainer-profile clearfix">
                                <img class="rounded-circle" src="images/author/author-1.jpg" alt="img">
                                <div class="trainer-info">
                                    <h3>{{ taken_course.course.owner.first_name }} {{ taken_course.course.owner.last_name }}</h3>
                                    <p>{{ taken_course.course.created_at|date:"F d, Y" }}</p>
                                </div>
                                <div class="course-cat text-capitalize text-right">
                                    <a href="{# url 'teachers:course_change' course.pk #}">{{ taken_course.status }}</a>
                                </div>
                            </div><!--/.trainer-profile-->
                        </div><!--/.course-content-->
                    </div><!--/.single-course-item-end-->
                </div><!--/.col-lg-4-->
                {% empty %}
                    You are not yet enrolled in any subjects.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
