{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.student.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    <div class="login-form-area">
                        <form method="POST" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Profile Info</legend>
                                {{ u_form|crispy }}
                                {{ i_form|crispy }}
                                {{ p_form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Update</button>
                            </div>
                        </form>
                        {#                        <button type="submit" class="btn btn-success">Save changes</button>#}
                        {#                        <a href="javascript:history.back();" class="btn btn-outline-secondary" role="button">Cancel</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}