{% extends 'base.html' %}

{% block content %}
    <section id="courses-section" class="popular-courses-area bg-white s-pd2">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">My Taken Quizzes</h2>
                    </div><!--/.section-heading-area-->
                </div><!--/.col-lg-8-->
            </div><!--/.row-->

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            <strong>Quiz</strong>
                        </div>
                        <div class="col-3">
                            <strong>Course</strong>
                        </div>
                        <div class="col-3">
                            <strong>Lesson</strong>
                        </div>
                        <div class="col-2">
                            <strong>Grade</strong>
                            <span class="badge badge-pill badge-primary" style="background-color: #5DA2D5">Average: {{ grade.average|default_if_none:0.0|floatformat:'-2' }}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush list-group-formset">
                    {% for taken_quiz in taken_quizzes %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    <a href="{% url 'students:taken_quiz_detail' taken_quiz.pk taken_quiz.quiz.pk %}">{{ taken_quiz.quiz.title }}</a>
                                </div>
                                <div class="col-3">
                                    <a href="{% url 'course_details' taken_quiz.quiz.course.pk %}">{{ taken_quiz.quiz.course.title }}</a>
                                </div>
                                <div class="col-3">
                                    {{ taken_quiz.quiz.lesson.title }}
                                </div>
                                <div class="col-2">
                                    <strong>{{ taken_quiz.score|floatformat:"-2" }}</strong>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="list-group-item text-center">
                            <p class="text-muted font-italic mb-0">You haven't took any quizzes yet.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# FOR PAGINATION #}
        <div class="row">
            <div class="col-md-12">
                <nav class="courses-navigation default-pager text-center">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <a href="?page=1" title="First Lesson">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                            <a href="?page={{ page_obj.previous_page_number }}" title="Previous Lesson">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="?page={{ num }}" title="Lesson {{ num }}" style="background-color: #f78888; color: #fff">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a href="?page={{ num }}" title="Lesson {{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" title="Next Lesson">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" title="Last Lesson">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
